rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null && exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }
    match /settings/main {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
    match /donations/{id} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
    match /expenses/{id} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
    match /otherIncome/{id} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
    match /admins/{uid} {
      allow read: if request.auth != null && request.auth.uid == uid;
      allow write: if false;
    }
  }
}
